@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&display=swap");

body {
	background-color: #ffdab9;
	/* background-image: url(/falantine.jpg); */
}

body,
html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: "Dancing Script", cursive;
	font-size: 50px;
	color: white;
}

button {
	padding: 8px 30px;
	border-radius: 5px;
	font-size: larger;
	font-weight: 900;
	border: #ffdab9;
	font-family: "Shadows Into Light", cursive;
}

#no {
	margin-right: 30px;
}

.container {
	border: 1px solid white;
	border-radius: 12px;
	text-align: center;
	padding: 70px;
	background-color: #9e2a41;
}
